.footer {
  display: flex;
  align-items: center;
  margin: -0.5rem -3.5rem;
  position: relative;
  margin-top: -7rem;
}
.f-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 1rem;
  color: white;
}
.f-icons {
  display: flex;
  gap: 2rem;
  font-size: 2px;
  margin-bottom: 3rem;
}

.f-icons svg{
  width: 40px;
}


@media screen and (max-width: 768px){
  .f-content{
    transform: scale(.5);
  }
  .f-content span{
    font-size: 30px;
  }
}
